<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watata.zpos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FPDtlsTableActivity"></activity>
        <activity android:name=".EODGraphFPActivity" />
        <activity android:name=".FPDtlsActivity" />
        <activity android:name=".SalesAndStocksActivity" />
        <activity android:name=".StocksDayActivity" />
        <activity android:name=".SalesDayActivity" />
        <activity android:name=".PaidActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".CompositeLinksEditActivity" />
        <activity android:name=".VariantsMenuActivity" />
        <activity android:name=".ItemMenuActivity" />
        <activity android:name=".CategoryMenuActivity" />
        <activity android:name=".VariantsLinksAddActivity" />
        <activity android:name=".VariantsHdrIconsActivity" />
        <activity android:name=".VariantsHdrAddActivity" />
        <activity android:name=".VariantsDtlsIconsActivity" />
        <activity android:name=".VariantsDtlsAddActivity" />
        <activity android:name=".VariantsDtlsEditActivity" />
        <activity android:name=".VariantsDtlsActivity" />
        <activity android:name=".VariantsHdrEditActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".ItemIconsActivity" />
        <activity android:name=".ItemAddActivity" />
        <activity android:name=".ItemEditActivity" />
        <activity android:name=".CategoryIconsActivity" />
        <activity android:name=".StockNamesEditActivity" />
        <activity android:name=".CategoryAddActivity" />
        <activity android:name=".CategoryEditActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".StocksActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".PostLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>